.segment#header
  .container
    .row
      .three.columns
        img(src="/img/logo@2x.png")
      .nine.columns
        p.contact
          | <strong>phone:</strong> <a href="tel:0410606396">0410 606 396</a>
          br
          | <strong>email:</strong> <a href="mailto:anniewinton53@gmail.com">anniewinton53@gmail.com</a>
        p.mobile-contact
          a(href='#footer') CONTACT
