@import '../../../base/styles/imports/mixins';
@import '../../../base/styles/imports/theme';

#header {
  background-color: $primary;
  border-bottom: 20px solid $dark-primary;
  color: $icons;
  margin: 0;
  @extend .segment-padding;
}
