.segment#header
  .container
    .row
      .twelve.columns
        h1 Real Counselling
        p
          | <strong>Mob:</strong> 0412 345 678
          br
          | <strong>Email:</strong> <a href="mailto:anniewinton53@gmail.com">anniewinton53@gmail.com</a>
