.segment#content
  .container
    .row
      .five.columns
        img(src="/tmp/dist/logo@2x.png")
      .seven.columns
        h3 We Are An Amazing Company
        p.
          Vivamus cursus magna tellus, eget viverra tortor finibus finibus.
          Phasellus lacinia mi id lacus tincidunt porta. Duis et efficitur nibh.
          Nullam tortor augue, vehicula vel magna ac, ultrices mattis ligula.
