.segment#content
  .container
    .row
      .six.columns
        h2 Hello, my name is Annie
        br
        p I obtained my Diploma in Professional Counselling on 8/10/2003.
        p.
          I have a different approach to counselling. I believe that the client
          is actually the expert of their own life. Sometimes we just need a
          guide to point us in the right direction for you!
