@import '../../../base/styles/imports/mixins';
@import '../../../base/styles/imports/theme';

#content {
  color: $secondary-text;
  margin: 0;
  @extend .segment-padding;

  img {
    height: auto;
    width: 100%;
  }
}
