.segment#content
  .container
    .row
      .eight.columns
        h2 Hello, my name is Annie.
        p I obtained my Diploma in Professional Counselling on 8/10/2003.
        p.
          I have a different approach to counselling. I believe that the client
          is actually the expert of their own life. Sometimes we just need a
          guide to point us in the right direction for you!
        p.
          In most cases of depression it's #[strong not] sedatives we need.
          What we need to do is get to the root cause, with help and
          understanding. In trying to reach the clients who may have trouble paying for
          counselling, I offer:
        ol
          li Sliding scale for payment
          li I come to your home for your convenience
          li I’m not rigid with your time
