@import '../../../base/styles/imports/mixins';
@import '../../../base/styles/imports/theme';

#content {
  @include perc-padd(1.5);

  background-color: $primary;
  background-image: linear-gradient(lighten($primary, 5%), $primary);
  border-top: 4px solid $dark-primary;
  border-bottom: 20px solid $dark-primary;
  color: white;
  text-shadow: 0 -1px 0 rgba(black, 0.3);
  margin: 0;

  .container {
    background-image: url('/img/flowers.png');
    background-size: 400px 400px;
    background-position: 100% 100%;
    background-repeat: no-repeat;

    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url('/img/flowers@2x.png');
    }

    @media (max-width: 500px) {
      background-size: 250px 250px;
      padding-bottom: 150px;
    }
  }

  h1 {
    padding-bottom: 0.5em;
    margin-bottom: 1.5em;
    border-bottom: 4px solid $dark-primary;
    text-shadow: 0 -2px 0 rgba(black, 0.15);
  }

  h2 {
    font-size: 2.0em;
    margin-bottom: 1.35em;
    text-shadow: 0 -2px 0 rgba(black, 0.15);
  }

  p strong {
    font-style: normal;
    font-weight: bold;
  }

  ol li {
    padding-left: 1.35em;
  }

  @media (max-width: $medBP) {
    .columns {
      width: auto;
    }
  }
}
