// mixins
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin perc-padd($mult) {
  $perc: 5%;

  .container {
    padding: $mult * $perc 0;

    @media (max-width: $medBP) {
      padding: $mult * 40px 0;
    }
  }
}
