// Background colors
$primary: #e91e63;
$dark-primary: #c2185b;
$light-primary: #f8bbd0;
$accent: #03a9f4;

// Fonts and icons
$primary-text: #212121;
$secondary-text: #727272;
$icons: #fff;
$divider: #b6b6b6;
