.segment#about
  .container
    .row
      .five.columns
        img(src="/img/silhouettes-female.png")
      .seven.columns
        h2 About Annette Brayne
        p.
          Vivamus cursus magna tellus, eget viverra tortor finibus finibus.
          Phasellus lacinia mi id lacus tincidunt porta. Duis et efficitur nibh.
          Nullam tortor augue, vehicula vel magna ac, ultrices mattis ligula.
