.segment#about
  .container
    .row
      .five.columns
        img(src="/img/silhouettes-female.png")
      .seven.columns
        h3 In most cases of depression it's <i>not</i> sedatives we need
        p.
          What we need to do is get to the root cause, with help and
          understanding. In trying to reach the clients who may have trouble paying for
          counselling, I offer:
        ol
          li Sliding scale for payment
          li I come to your home for your convenience
          li I’m not rigid with your time
