.segment#footer
  
  .container
    .row
      .five.column
        h1 Segment: "index:footer"
      .seven.column
        | This is the a basic skeleton template
        a(href="http://getskeleton.com/") Check out skeleton's docs
  
