@import '../../../base/styles/imports/mixins';
@import '../../../base/styles/imports/theme';

#footer {
  background-color: $light-primary;
  margin: 0;
  color: $secondary-text;
  padding: 100px 0 60px;

  a {
    color: $secondary-text;
  }

  .container {
    background: url('/img/glitter-flowers.png') right bottom no-repeat;
  }
}
