@import '../../../base/styles/imports/mixins';
@import '../../../base/styles/imports/theme';

$mobileBP: 550px;

#footer {
  background-color: $near-black;
  margin: 0;
  color: white;
  text-shadow: 0 1px 1px black;

  a {
    color: white;
  }

  .container {
    padding: 50px 0;

    @media (max-width: $mobileBP) {
      padding: 35px 0;
    }
  }

  .contact.row {
    font-size: 10px;

    h5 {
      color: $near-black-fade;
      font-size: 2.2em;
      line-height: 1.2em;
      margin: 0 0 0.6em 0;
    }

    p {
      font-size: 1.8em;
      line-height: 1.2em;
      margin: 0;
    }

    @media (max-width: 700px) {
      font-size: 9px;
    }

    @media (max-width: $mobileBP) {
      font-size: 8px;

      .six.columns + .six.columns {
        margin-top: 40px;
      }

      h5 {
        margin: 0 0 0.4em 0;
      }
    }
  }

  .legal.row {
    color: $near-black-fade;
    font-size: 14px;
    border-top: 1px dotted white;
    border-top: 1px dotted rgba(white, 0.5);
    padding-top: 1.35em;
    margin-top: 50px;

    @media (max-width: $mobileBP) {
      padding-top: 40px;
    }
  }
}
