.segment#footer
  .container
    .row.contact
      .six.columns
        h5 Call me:
        p 0412 345 678
      .six.columns
        h5 Send me an email:
        p anniewinton53@gmail.com
    .legal.row
      p.
        Copyright&nbsp;&copy;&nbsp;Annette&nbsp;Brayne&nbsp;2015.
        All&nbsp;rights&nbsp;reserved.
        ABN:&nbsp;48&nbsp;400&nbsp;311&nbsp;717
